// Filter box 'clear' btn
.filter-box__clear--btn{
    background-color: transparent;
    border: none;
    color: $dark-grayish-cyan;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: inherit;
    letter-spacing: 1px;
}