.job {
  width: 85%;
  padding: 8% 5%;
  margin: 4rem auto;
  background-color: #fff;
  box-shadow: 0 0.8rem 1.8rem rgba($primary-color, 0.3);
  border-radius: 5px;
  border-left: solid 4px $primary-color;
  //
  &__info {
    // height: 50%;
    position: relative;
  }
  //
  &__company-name {
    color: $primary-color;
    display: inline-block;
  }
  //
  &__status {
    display: inline-block;
    margin-left: 1.5rem;
    p {
      display: inherit;
      border-radius: 15px;
      text-align: center;
      padding: 0.7rem 1rem 0.4rem;
      color: $white-color;
      font-size: 1.2rem;
      // vertical-align: ;
    }
    p:nth-child(odd) { // Dont use these selectors because it changes the even button if the first button is missing from the data
      background-color: $primary-color;
    }
    p:nth-child(even) {
      margin-left: 0.5rem;
      background-color: $very-dark-grayish-cyan;
    }
  }
  //
  &__title {
    margin: 1rem 0;
  }
  //
  &__listing-details {
    list-style-type: none;
    display: flex;
    li:not(:first-child){
      margin-left: .5rem;
    }
    li p{
      display: inline-block;
      font-size: 1.3rem;
      color: $dark-grayish-cyan;
      font-weight: $font-weight-medium;
    }
    & li:before {
      content: "\00a0\2022\00a0\00a0";
      color: #999;
      color: rgba(0, 0, 0, 0.5);
      font-size: 11px;
    }
    & li:first-child:before {
      content: "";
    }
  }
  //
  &__logo {
    position: absolute;
    bottom: 8.5rem;
    height: 6rem;
    img {
      height: 100%;
    }
  }
}

.middle-line {
  height: 0.5px;
  width: 100%;
  background-color: $very-dark-grayish-cyan;
  margin: 2rem 0 1rem;
}
